[submodule "Deep-Learning"]
	path = Deep-Learning
	url = https://github.com/hari0920/Deep-Learning.git
[submodule "slambook"]
	path = slambook
	url = https://github.com/hari0920/slambook.git
[submodule "BikeClassifier"]
	path= Nascent Tech CV Job/BikeClassifier
	url = https://github.com/hari0920/BikeClassifier